<%- include('../includes/head.ejs') %>       
</head>
<style>
.main {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



</style>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main">
        <form action="/add-product" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>

            <div>
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl">
            </div>

            <div>
                <label for="price">Price</label>
                <input type="number" name="price" id="price">
            </div>

            <div>
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>

            <div>
                <button type="submit">Add Product</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>