<header class='header-section'>
    <nav class="nav-section">
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li><a class="<%= path === '/add-product' ? 'active' : '' %>" href="/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>