doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{PageTitle404}
        style.
            body {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            .header-section {
                background-color: #8cc20e;
                padding: 10px;
            }
            .nav-section ul{
                display: flex;
                align-items: center;
            }
            .nav-section ul li {
                margin-right: 10px;
                font-size: 1.5rem;
                list-style: none;
            }
            .nav-section ul li a {
                text-decoration: none;
            }
    body 
        header.header-section
            nav.nav-section
                ul
                    li
                        a(href="/") Shop
                    li
                        a(href="/add-product") Add Product
        h1 Page not found!